In [25]:
#Import modules
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [26]:
#Oppgave 1
#Importering av dataset
df = pd.read_csv('Grocery_dataset.csv')

#Print av de 10 øverste linjene, og 10 nederste.
print(df.head(10), df.tail(10))

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15        9.300          Low Fat         0.016047
1           DRC01        5.920          Regular         0.019278
2           FDN15       17.500          Low Fat         0.016760
3           FDX07       19.200          Regular         0.000000
4           NCD19        8.930          Low Fat         0.000000
5           FDP36       10.395          Regular         0.000000
6           FDO10       13.650          Regular         0.012741
7           FDP10          NaN          Low Fat         0.127470
8           FDH17       16.200          Regular         0.016687
9           FDU28       19.200          Regular         0.094450

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013
5           Baking Goods   51.4008            OUT018
6            Snack Foods   57.6588            OUT013
7            Snack Foods  107.7622            OUT027
8           Frozen Foods   96.9726            OUT045
9           Frozen Foods  187.8214            OUT017

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                       1999      Medium               Tier 1
1                       2009      Medium               Tier 3
2                       1999      Medium               Tier 1
3                       1998         NaN               Tier 3
4                       1987        High               Tier 3
5                       2009      Medium               Tier 3
6                       1987        High               Tier 3
7                       1985      Medium               Tier 3
8                       2002         NaN               Tier 2
9                       2007         NaN               Tier 2

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052
5  Supermarket Type2           556.6088
6  Supermarket Type1           343.5528
7  Supermarket Type3          4022.7636
8  Supermarket Type1          1076.5986
9  Supermarket Type1          4710.5350        Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
4990           FDE46        18.60          Low Fat         0.015859
4991           NCQ53        17.60          Low Fat         0.018905
4992           NCN42        20.25          Low Fat         0.014281
4993           DRH11         5.98          Low Fat         0.075675
4994           NCI42        18.75          Low Fat         0.010382
4995           FDT07         5.82          Regular         0.077476
4996           DRL60         8.52          Low Fat         0.027059
4997           FDG20        15.50          Regular         0.126200
4998           FDF56        16.70          Regular         0.119462
4999           FDV33         9.60          Regular         0.027455

                  Item_Type  Item_MRP Outlet_Identifier  \
4990            Snack Foods  152.9366            OUT017
4991     Health and Hygiene  234.6590            OUT046
4992              Household  148.0418            OUT018
4993            Hard Drinks   53.3614            OUT049
4994              Household  207.8954            OUT049
4995  Fruits and Vegetables  255.3330            OUT045
4996            Soft Drinks  153.3682            OUT046
4997  Fruits and Vegetables  178.4028            OUT018
4998  Fruits and Vegetables  182.7976            OUT046
4999            Snack Foods  258.1304            OUT018

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
4990                       2007         NaN               Tier 2
4991                       1997       Small               Tier 1
4992                       2009      Medium               Tier 3
4993                       1999      Medium               Tier 1
4994                       1999      Medium               Tier 1
4995                       2002         NaN               Tier 2
4996                       1997       Small               Tier 1
4997                       2009      Medium               Tier 3
4998                       1997       Small               Tier 1
4999                       2009      Medium               Tier 3

            Outlet_Type  Item_Outlet_Sales
4990  Supermarket Type1           453.4098
4991  Supermarket Type1          8508.9240
4992  Supermarket Type2          1177.1344
4993  Supermarket Type1           331.5684
4994  Supermarket Type1          2292.3494
4995  Supermarket Type1          4870.3270
4996  Supermarket Type1           914.8092
4997  Supermarket Type2          1239.7196
4998  Supermarket Type1          1810.9760
4999  Supermarket Type2          2324.9736

In [27]:
#Oppgave 2
# Sjekker om det finnes nullverdier
df.isnull().sum()

Item_Identifier                 0
Item_Weight                   818
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1439
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [28]:
#Oppgave 3
#Sjekk unike Outlet størrelser
print("Unique values in Outlet_Size:", df['Outlet_Size'].unique())

#Telle hvor mange unike outlets (excluding NaN)
print("Number of unique Outlet_Size values:", df['Outlet_Size'].nunique())

#Count frequency of each Outlet_Size
outlet_size_counts = df['Outlet_Size'].value_counts()
print("\nCounts for each Outlet_Size:\n", outlet_size_counts)

#Find maximum and minimum outlet sizes by frequency
print("\nMost frequent (max) Outlet_Size:", outlet_size_counts.idxmax(), 
      "with", outlet_size_counts.max(), "occurrences")

print("Least frequent (min) Outlet_Size:", outlet_size_counts.idxmin(), 
      "with", outlet_size_counts.min(), "occurrences")

Unique values in Outlet_Size: ['Medium' nan 'High' 'Small']
Number of unique Outlet_Size values: 3

Counts for each Outlet_Size:
 Outlet_Size
Medium    1605
Small     1398
High       558
Name: count, dtype: int64

Most frequent (max) Outlet_Size: Medium with 1605 occurrences
Least frequent (min) Outlet_Size: High with 558 occurrences

In [29]:
#Oppgave4 

# Finn unike Item_Fat_Content verdier
unique_fat = df['Item_Fat_Content'].unique()
print("Unique Item_Fat_Content types:", unique_fat)

# Tell hver gang noe blit funnet
print("\nCounts per type:\n", df['Item_Fat_Content'].value_counts())

#Med bare koden over defineres Low Fat og low fat som forksjellige. Så med koden under, legges de under samme kategori.

# Standardize Item_Fat_Content
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace({
    'low fat': 'Low Fat',
    'LF': 'Low Fat',
    'reg': 'Regular'
})

# Skjekk igjen
print(df['Item_Fat_Content'].unique())

Unique Item_Fat_Content types: ['Low Fat' 'Regular' 'low fat' 'LF' 'reg']

Counts per type:
 Item_Fat_Content
Low Fat    3008
Regular    1679
LF          183
reg          68
low fat      62
Name: count, dtype: int64
['Low Fat' 'Regular']

In [32]:
#Oppgave 5

# Drop columns by index position (0 and 6)
Grc_new_df = df.drop(df.columns[[0, 6]], axis=1)

# Show the new DataFrame shape
print("Shape of Grc_new_df:", Grc_new_df.shape)

# Optional: show first few rows
Grc_new_df.head()

Shape of Grc_new_df: (5000, 10)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,1998,NaN,Tier 3,Grocery Store,732.3800
4,8.93,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052

In [34]:
#Oppgave 6
#Lager to forskjelllige typer lister. (dataframes)
SupType_1 = Grc_new_df[Grc_new_df['Outlet_Type'] == 'Supermarket Type1']
SupType_2 = Grc_new_df[Grc_new_df['Outlet_Type'] == 'Supermarket Type2']

print(SupType_1)

      Item_Weight Item_Fat_Content  Item_Visibility              Item_Type  \
0            9.30          Low Fat         0.016047                  Dairy
2           17.50          Low Fat         0.016760                   Meat
4            8.93          Low Fat         0.000000              Household
6           13.65          Regular         0.012741            Snack Foods
8           16.20          Regular         0.016687           Frozen Foods
...           ...              ...              ...                    ...
4993         5.98          Low Fat         0.075675            Hard Drinks
4994        18.75          Low Fat         0.010382              Household
4995         5.82          Regular         0.077476  Fruits and Vegetables
4996         8.52          Low Fat         0.027059            Soft Drinks
4998        16.70          Regular         0.119462  Fruits and Vegetables

      Item_MRP  Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0     249.8092                       1999      Medium               Tier 1
2     141.6180                       1999      Medium               Tier 1
4      53.8614                       1987        High               Tier 3
6      57.6588                       1987        High               Tier 3
8      96.9726                       2002         NaN               Tier 2
...        ...                        ...         ...                  ...
4993   53.3614                       1999      Medium               Tier 1
4994  207.8954                       1999      Medium               Tier 1
4995  255.3330                       2002         NaN               Tier 2
4996  153.3682                       1997       Small               Tier 1
4998  182.7976                       1997       Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
0     Supermarket Type1          3735.1380
2     Supermarket Type1          2097.2700
4     Supermarket Type1           994.7052
6     Supermarket Type1           343.5528
8     Supermarket Type1          1076.5986
...                 ...                ...
4993  Supermarket Type1           331.5684
4994  Supermarket Type1          2292.3494
4995  Supermarket Type1          4870.3270
4996  Supermarket Type1           914.8092
4998  Supermarket Type1          1810.9760

[3328 rows x 10 columns]